@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:darkgray !important; width:100%;" class="jumbotron">
    <img style="width:100%;" src="~/MediaResources/logoJornada.png" />
    <p><a href="~/Views/Account/Register.cshtml" class="btn btn-default btn-lg">Registrarse</a></p>
</div>