@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:darkgray !important; width:100%;" class="jumbotron">
    <img style="width:100%;" src="~/MediaResources/logoJornada.png" />
    <p>@Html.ActionLink("Registrarse","Register","Account",null, new { @class = "btn btn-default btn-lg" })</p>
</div>